header
{
	background: rgba(0,0,0,0.4);	
	background: url("https://w.ndtvimg.com/sites/3/2020/06/29161619/Mumbai_doctor_Jalil_Parkar_Fight_COVID-19_istock_660x330.jpg");
	height:220px;
	
	
}
#main
{         
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

h1
{
	font-size:250%;
	font-family:cursive;
	text-align:center;
	color:#549edc;
	text-shadow:
		-2px -1px 0 #0c518b,
		2px -1px 0 #0c518b,
		-2px 1px 0 #0c518b,
		2px 1px 0 #0c518b;
	
	
}	

ul
{
	display: inline-block;
	font-size: 150%;
	color: #87edf8;
}

#list
{
	transition-property: color;	
	transition-duration: .5s;
	transition-timing-function: linear;
	transition-delay:.5s;
}

#list:hover
{
	color: #047a87;
}

nav a
{

	display: inline-block;
	font-weight: bold;
	color: #000000;
	background:#0006CC;
	width: 120px;
	
	text-align: center;
	padding:10px;
	text-decoration: none;
	border-radius: 10px;
	margin-bottom: 3%;
	margin-left:9%;
	margin-right:5%;

	
	background: rgba(184, 134, 11,1);
	
}



section.left{
  background:#B22222;
  width:20%;
  height:500%;
  float:left;
  padding:1px;
  margin-right: 1%;
  border:#800000 2px solid;
}

.left img{
  display: block;
  margin: 18% auto;
  width: 90%;

  border: #000 solid 5px;
}

.right{
  float: left;
  width: 70%;
  margin: 0 10px;
}


.right p
{
	font-family: ""Times New Roman"";
	font-size: 150%;
	color: #FFFFFF;
	margin:1%;
	
	
}
#vac
{
	transition-property: color;	
	transition-duration: .5s;
	transition-timing-function: linear;
	transition-delay:.5s;
}

#part1
{
	transition-property: color;	
	transition-duration: .5s;
	transition-timing-function: linear;
	transition-delay:.5s;
}

#part2
{
	transition-property: color;	
	transition-duration: .5s;
	transition-timing-function: linear;
	transition-delay:.5s;
}

#part3
{
	transition-property: color;	
	transition-duration: .5s;
	transition-timing-function: linear;
	transition-delay:.5s;
}

#vac:hover
{
	color:powderblue;
}

#part1:hover
{
	color:firebrick;
}

#part2:hover
{
	color:firebrick;
}

#part3:hover
{
	color:firebrick;
}

.right div
{
	display: inline-block;
	width:28%;
	margin:1%;
	
}

#left
{
	margin-left:25%;
	font-family: cursive;
	font-size:110%;
	color:#800000;
}

#center
{
	margin-left:12%;
	font-family: cursive;
	font-size:110%;
	color:#800000;

}




#right
{
	margin-left:28%;
	font-family: cursive;
	font-size:110%;
	color:#800000;

}

body.covid_19
{
	margin:1%;
	padding:1%;
	background:rgba(1,1,1,1);
	
}

a.active
{
	background: firebrick;
	color:mistyrose;
}

section.rightpane{
  background:#B22222;
  width:25%;
  height:500%;
  float:right;
  padding:1px;
  border:#800000 2px solid;
}


.rightpane img{
  display: block;
  margin: 4.6% auto;
  width: 84%;


  border: #000 solid 5px;
}

.center p
{
	margin-left:2%;

	font-size: 150%;
	font-family:"Times New Roman";
	color:#FFFFFF;
	
}

body.quarantine
{
	background: #000000;
	margin:2%;
}

body.vaccine
{
	background: #000000;
	
}


body.help
{
	background: #000000;
	
}

